#chat {
    display: flex;
    flex-direction: column;
    height: 80vh;
    width: 900px;
    margin: auto;
    border: none;
    border-radius: 30px;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #F6F6F6;
    overflow: hidden;
}

#chat-history {
    flex: 1;
    overflow-y: auto;
    padding: 1em;
}

#input-area {
    padding: 1em;
    background: linear-gradient(90deg, #6DD5ED, #2193B0);
    position: relative;
}

textarea {
    border: none;
    resize: none;
    width: 730px;
    border-radius: 20px;
    display: block;
    margin: auto;
    padding: 15px;
    overflow: hidden;
}

#input-area button {
    border: none;
    background-color: transparent;
    position: absolute;
    bottom: 15px;
    right: 3%;
}

.user {
    align-self: flex-end;
    background-color: #F0F7FF;
    color: black;
    width: fit-content;
    margin: 0 0 0 auto;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 0.5em;
}

.bot {
    align-self: flex-start;
    background-color: #fff;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 1em;
    padding: 0.5em;
}