@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;600;700;800&display=swap');

body {
    font-family: 'Noto Sans JP', sans-serif;
    margin: 0;
}

.header {
    background: linear-gradient(90deg,#36D1DC, #5B86E5);
    width: 100%;
    height: 50px;
}

.header .headerText {
    font-size: 20px;
    font-weight: 700;
    line-height: 50px;
    color: white !important;
    margin: 0;
    text-align: center;
}

.section {
    width: 860px;
    margin: auto;
    margin-top: 90px;
}

.title {
    display: flex;
    justify-content: center;
    gap: 20px;
}

.title h1 {
    display: block;
    margin: 0;
    font-size: 32px;
    line-height: 60px;
    text-align: center;
    background: linear-gradient(90deg,#2193B0, #46B3CE 50%,#6DD5ED);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.consultImage {
    display: flex;
    justify-content: center;
    gap: 40px;
    text-align: center;
}

.g_container {
    position: relative;
}

.g_container img {
    display: block;
}

.g_container p {
    font-size: 20px;
    font-weight: 700;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    margin: 0;
}

.consultImage .selected .gradation {
    filter: grayscale(0);
}

.consultImage .gradation {
    margin-top: -20px;
    filter: grayscale(1);
}

.notSelected {
    transition: 0.2s;
    cursor: pointer;
}

.notSelected:hover {
    transform: scale(1.03);
}

.kinds_Container {
    display: flex;
    justify-content: center;
    gap: 100px;
    margin-top: 30px;
}

.AiKinds {}

.AiKinds .icon {
    border-radius: 50%;
}

.kind {
    width: 220px;
    height: 220px;
    overflow: hidden;
    border-radius: 50%;
    position: relative;
}

.AiKinds .kind .icon {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.AiKinds .kind .grad {
    width: 220px;
    height: 220px;
    background: #5F6368;
}

.kindName {
    width: 220px;
    height: 50px;
    position: relative;
    margin-top: 10px;
}

.kindName p {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
    line-height: 50px;
    margin: 0;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.AiKinds .kindName .gradation {
    width: 220px;
    display: none;
}

.selected .kind .grad {
    width: 220px;
    height: 220px;
    background: linear-gradient(90deg, #2193B0, #6DD5ED);
}

.selected .kindName .gradation {
    width: 220px;
    height: 50px;
    display: block;
}

.selected .kindName .gradation_g {
    width: 220px;
    height: 50px;
    display: none;
}

.space {
    height: 50px;
}

.form {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.form label {
    width: 140px;
    height: 40px;
    font-size: 16px;
    color: white;
    line-height: 40px;
    font-weight: 500;
    text-align: center;
    background: linear-gradient(90deg, #2193B0, #6DD5ED);
}

.form input {
    border: none;
    background-color: #F6F6F6;
    width: 720px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    font-weight: 500;
}

::placeholder {
    color: #DDDDDD;
    font-weight: 700;
}

.openChat {
    width: 500px;
    height: 70px;
    background-image: url("~@/assets/images/gradation_L.jpg");
    background-repeat: no-repeat;
    background-color: transparent;
    border: none;
    display: block;
    margin: 50px auto;
    font-size: 24px;
    color: white;
    font-weight: 600;
    transition: 0.2s;
    box-sizing: border-box;
}

.openChat:hover {
    transform: scale(1.03);
}
